{% extends 'layouts/base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}

<!-- Header Section -->
{% include 'inicio/header.html' %}
    {% if user.is_authenticated %}
        <p>Hola, {{ user.username }}</p>
        <p>Perteneces al grupo de {{ user.groups.all|join:", " }}</p>
        <p><a href="{% url 'logout' %}">Cerrar sesión</a></p>
    {% else %}
        <p><a href="{% url 'login' %}">Iniciar sesión</a></p>
        <p><a href="{% url 'register' %}">Registrarse</a></p>
    {% endif %}

{% endblock %}

